<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
       <ion-back-button defaultHref="/list">

       </ion-back-button>
    </ion-button>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
    <form>
      
      <ion-list>

       
        <ion-item>
          <ion-label style="font-size: large;
          font-weight: 700;" position="floating">Titre</ion-label>
          <ion-input required type="text" [(ngModel)]="title" name="title"></ion-input>
        </ion-item>       

        <ion-item>
          <ion-label style="font-size: large;
          font-weight: 700;"position="floating">Description</ion-label>
          <ion-textarea required type="text" [(ngModel)]="desc" name="desc" rows="4" cols="20" ></ion-textarea>       
        </ion-item>
        

       
        
<br><br>
        <ion-button expand ="block" shape="round" (click)="addTask()">Save</ion-button>

      </ion-list>

    </form>
  </ion-card-content>
  </ion-card>
</ion-content>
