<ion-header>
  <ion-toolbar>
    <ion-title>Liste Rendez-vous </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header style="text-align: center; ">
      
     <ion-card-title>  Dr.Hicham El Attar </ion-card-title>
      <ion-card-subtitle>10 décembre 2023</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> 
      <ion-item-sliding>
        <ion-item>
          <ion-label>Consultation gynécologique annuelle de routine</ion-label>
          
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
            DELETE
          </ion-item-option>
          <ion-item-option color="warning">
            EDIT
          </ion-item-option>
          <ion-item-option color="success">
            DONE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header style="text-align: center;">
      
     <ion-card-title>Dr.Ahmed Rhassane El Adib</ion-card-title>
      <ion-card-subtitle>28 novembre 2023</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> 
      <ion-item-sliding>
        <ion-item>
          <ion-label>Consultation préopératoire pour une intervention chirurgicale de l'appendicite.</ion-label>
          
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
            DELETE
          </ion-item-option>
          <ion-item-option color="warning">
            EDIT
          </ion-item-option>
          <ion-item-option color="success">
            DONE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header style="text-align: center;">
      
     <ion-card-title>   Dr. Ilyass Ziani </ion-card-title>
      <ion-card-subtitle>5 janvier 2024</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> 
      <ion-item-sliding>
        <ion-item>
          <ion-label>Traitement des problèmes de peau, y compris l'acné et l'eczéma.</ion-label>
          
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger">
            DELETE
          </ion-item-option>
          <ion-item-option color="warning">
            EDIT
          </ion-item-option>
          <ion-item-option color="success">
            DONE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>
  </ion-card>


<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button defaultHref='/contact-add' color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>

</ion-content>
